body {
	background: url(../img/background.jpg);
	background-size: cover;
}

@media (max-width: 992px) {
	body {
		background-size: auto;
	}
	.section-login {
		background: white;
		border-radius: 5px;
		padding: 10px;
	}
}

.container-fluid {
	background: white;
}

.ui-icon-ckf-file-delete, #ckf-179{
	display:none !important
}
